[submodule "OpenTimelineIO"]
	path = OpenTimelineIO
	url = https://github.com/PixarAnimationStudios/OpenTimelineIO
[submodule "cmocka"]
	path = cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
